.About {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the start vertically */
  align-items: center; /* Align content to the center horizontally */
  background-color: #c5f2f4;
  min-height: 100vh;
  padding-top: 3em; /* This is the space from the top. Adjust as per your needs */
}

.content {
  max-width: 600px;
  padding: 1em;
  text-align: center; /* Text alignment */
}
